* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

:root {
    --white: #fff;
    --black: #000;
    --gray: #F5F5F5;
    --green: #7FAD39;
    --black-bg: #191919;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: calc(100% - 30px);
    max-width: 1142px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: calc(100% - 60px);
    }
}