@use '../../mixins.scss';

.button {
    @include mixins.flex(center, center);
    @include mixins.font(16px, 700, 100%);
    border: none;
    background-color: var(--green);
    color: var(--white);
    padding: 18px 20px;
    cursor: pointer;
}